In [53]:
import pandas as pd
import glob
import re

In [34]:
path = r"C:\Users\masud\Downloads\trial"
all_files = glob.glob(path + "/*.csv")

In [49]:
B5 = glob.glob(path + "/*B5.csv")
B4 = glob.glob(path + "/*B4.csv")

In [35]:
#all_files

['C:\\Users\\masud\\Downloads\\trial\\10058B4.csv',
 'C:\\Users\\masud\\Downloads\\trial\\10058B5.csv',
 'C:\\Users\\masud\\Downloads\\trial\\10059B4.csv',
 'C:\\Users\\masud\\Downloads\\trial\\10059B5.csv',
 'C:\\Users\\masud\\Downloads\\trial\\10060B4.csv',
 'C:\\Users\\masud\\Downloads\\trial\\10060B5.csv',
 'C:\\Users\\masud\\Downloads\\trial\\10061B4.csv',
 'C:\\Users\\masud\\Downloads\\trial\\10061B5.csv',
 'C:\\Users\\masud\\Downloads\\trial\\10062B4.csv',
 'C:\\Users\\masud\\Downloads\\trial\\10062B5.csv']

In [58]:
filename4= 'C:\\Users\\masud\\Downloads\\trial\\10062B5.csv'
#filename.split("\\")[-1]
filename4.split("\\")[-1].split(".")[0]

'10062B5'

In [54]:
a = re.compile(r'\d\d\d\d\B4')

re.compile(r'\d\d\d\d\B4', re.UNICODE)

In [63]:
#1 .Using For loop method 

B4_alllist = []
B5_alllist = []
all_list = []
for filename4 in B4:
    split4 = filename4.split("\\")[-1].split()[0]
    for filename5 in B5:
        split5 = filename5.split("\\")[-1].split()[0]
        if split5 == split4:

    
            df = pd.read_csv(filename4, sep=';', index_col=None, header=0)
            all_list.append(df)
all_list
filename5

'C:\\Users\\masud\\Downloads\\trial\\10062B5.csv'

In [44]:
#1 .Using For loop method 

all_list = []

for filename in all_files:
    if filename.split("\\")[-1] == "":
    
    df = pd.read_csv(filename, sep=';', index_col=None, header=0)
    all_list.append(df)

#all_list  

df = pd.concat(all_list, axis = 0, ignore_index=True)
df

Empty DataFrame
Columns: [10058, B4, Lengthpoints:, 0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.10, 0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.20, 0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.30, 0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.2783003, 0.556488, 0.8348961, 1.113524, 1.392817, 1.672216, 1.951616, 2.231016, 2.510636, 2.790477, 3.070209, 3.350381, 3.630445, 3.910617, 4.191121, 4.471625, 4.752349, 5.033293, 5.314349, 5.595845, 5.877229, 6.158612, 6.440549, 6.722596, 7.005193, 7.287568, 7.569837, 7.852433, 8.13514, 8.417956, 8.700772, 8.984252, 9.26784, 9.55132, 9.835021, 10.11894, 10.40253, 10.68656, 10.97092, 11.25562, 11.53987, 11.82445, 12.10958, 12.39438, 12.67973, 12.96542, 13.2511, 13.53756, 13.82346, 14.11002, 14.39648, 14.68272, 14.96906, 15.25552, 15.54208, 15.82876, 16.11565, 16.40321, ...]
Index: []

[0 rows x 8423 columns]

In [39]:

print(type(all_list))

<class 'list'>

In [25]:
all_list = [pd.read_csv(filename,sep=';', index_col=None, header=0) for filename in all_files]

df = pd.concat(all_list, axis=0, ignore_index=True)
df

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 11918 columns]